<div class="jumbotron bg-info text-center px-5 py-2">
  <h1>Burger Time</h1>
  <form class="form-select">
    <input class="form-control" type="text" id="burger" placeholder="Describe your burger...">
    </input>
    <button class="btn btn-primary my-3 px-4" type="submit" id="burger-submit">Submit</button>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      {{#each burgers}}
        {{#unless devoured}}
        <button type="button" id="{{ this.id }}" class="w-100 btn btn-primary my-3 eat">{{this.burger_name}}</button>
        {{/unless}}
      {{/each}}
    </div>

    <div class="col-md-6">
      {{#each burgers}}
        {{#if devoured}}
      <button type="button" id="{{ this.id }}" class="w-100 btn btn-primary my-3">{{this.burger_name}}</button>
        {{/if}}
      {{/each}}
      </div>
    </div>
  </div>
</div>
