html, body {
  background-image: url(../img/bg.jpeg);
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: #ffffff;
}

html, body {
  font-family: 'Lobster', cursive;
  font-family: 'Open Sans', sans-serif;
}


.navbar-brand h1 {
  color: black;
  font-stretch: extra-expanded;
}

h1 {
  color: white;
  text-align: center;
}
